doctype html5
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    style
      include ../styles/style.css
      include ../../public/pico.min.css
    script( src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous")

  body
    main.container
      .navbar(style="display: flex; justify-content: space-between")
        h1 Posts
        .dynamic-content(id="post-count")
          include post-amount

      form.grid(hx-post="/posts" hx-target="#posts-results", enctype="multipart/form-data", hx-swap="innerHTML")
        input(type="text", name="post")
        button(type="submit") Submit

      #posts-results
        include posts
