article.flex.column(id= post.id, hx-target="this", hx-swap="outerHTML")
  form(hx-put="/posts/" + post.id)
    div
      label Message
      input(type="text", name="message", value=post.message)
      button.primary Send
