if swap
  include post-amount

each post in posts
  article.flex.column(id= post.id)
    header
      div.flex.gap-1.align-center
        if post.likes
          span.display-2= post.likes
        else
          span.display-2= 0
        .icons
          include icons/like-solid

    p.display-3()= post.message
    footer
      .flex.row.align-center.gap-2.fill-content
        button.outline.primary.fill-content(type="button", hx-post="/likes/" + post.id, hx-target="#posts-results" data-tooltip="Like this!")
          .icons
            include icons/like

        button.outline.primary.fill-content(type="button", hx-get="/posts/" + post.id + "/edit", hx-target="#" + post.id data-tooltip="Edit post", hx-swap="outerHTML")
          .icons
            include icons/edit

        button.outline.secondary.fill-content(type="button", hx-delete="/posts/" + post.id, hx-target="#posts-results" data-tooltip="Delete this post!")
          .icons
            include icons/delete
